.contact-form {
    width: 100%;
    margin-top: 40px;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input::placeholder, textarea::placeholder {
        color: #fff;
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #08afa8;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        border: 0;
        background: #08afa8;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
        max-height: calc(100% - 100px);
        resize: none;
    }

    .flat-button {
        background: none;
        float: right !important;
    }
}