.projects-cont {
    right: 1%;
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-gap: 15px;
    width: 1000px;
    height: 750px;
    
    .projects-title{
        display: flex;
        grid-column: span 3;
        justify-content: center;
        padding-bottom: 30px;
            
        h1 {
            position: relative;
            font-size: 53px;
            font-family: 'Coolvetica';
            color: #d4af37;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: -40px;
            left: 10px;
            width: fit-content;

            &:hover {
                color:white;
            }

            &::before {
                content: '<h1>';
                position: absolute;
                font-family: '8-bit Operator';
                font-size: 10px;
                left: -10px;
                opacity: 0.6;
                top: -10px;
                line-height: 18px;
                color: #d4af37 !important;
            }
    
            &::after {
                content: '</h1>';
                font-family: '8-bit Operator';
                position: absolute;
                font-size: 10px;
                line-height: 18px;
                left: -30px;
                bottom: 10px;
                margin-left: 20px;
                opacity: 0.6;
                color: #d4af37 !important;
            }
        }
    }
    
    .project {
        position: relative;
        background-color: #004443;
        width: 100%;
        height: 100%;
        animation: pulse 1s;

        &:nth-of-type(1) {
            animation-delay: 1.5s;
        }
        &:nth-of-type(2) {
            animation-delay: 1.6s;
        }
        &:nth-of-type(3) {
            animation-delay: 1.7s;
        }
        &:nth-of-type(4) {
            animation-delay: 1.8s;
        }
        &:nth-of-type(5) {
            animation-delay: 1.9s;
        }
        &:nth-of-type(6) {
            animation-delay: 2s;
        }
            
        &:hover {
            background-color: #d4af37;
                
            h3 {
            color:black;
            }

            p {
                color: black;
            }

            img {
                border-color: #004443;
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-decoration: none;
            font-family: sans-serif;

            h3 {
                height: max-content;
                color: #ffdb58;
                text-align: center;
            }

            img {
                max-width: 50%;
                max-height: 50%;
                border: #d4af37 solid 5px;
            }

            p {
                font-size: 12px;
                padding: 5%;
                text-align: center;
                color: white;
            }
        }
    }
}

.projects-cont::-webkit-scrollbar {
    background-color: #333333;
    border-radius: 6px;
}

.projects-cont::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.267);
    border-radius: 6px;
}

.projects-cont::-webkit-scrollbar-thumb:hover {
    background: #8B8589;
}
