.screen-message {
    font-family:'8-bit Operator';
    font-weight: bold;
    padding-top: 20px;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #d4af37;
    font-size: 18px;
    color: #1d7874;
    text-align: center;
    margin-top: 20px;
}